/* Universal code  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.half_width {
    width: 50%;
}
img {
    width: 65%;
}
span {
    color: #8FBC8F;
}
/* Start Header Section */
.header {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.header_left {
   margin-top: 7%;
   margin-left: 10%;
}
.header_title {
    border-left: 3px solid #FF6347;
}
.header_title .header1 {
    font-size: 60px;
    color: #333333;
    margin-bottom: 20px;
    margin-left: 5px;
}
.header_title .header2 {
    font-size: 60px;
    color: #8FBC8F;
   margin-left: 5px; 
}
.header_left p {
    font-size: 19px;
    text-align: justify;
    margin: 30px 0;
    width: 75%;
}
.btn {
    padding: 12px 22px;
    color: white;
    background: #FF6347;
    border-radius: 5px;
    text-decoration: none;
}
/* End Header Section */
/* Start Mission Section */
.mission {
    margin-top: 50px;
    margin-bottom: 80px;
}
.mission h1 {
    font-size: 60px;
    text-align: center;
    margin: 20px 0;
    margin-bottom: 50px;
}
.missionall {
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: auto;
}
.missionbox {
    width: 28%;
    padding: 20px 20px 40px 20px;
    border-radius: 10px;
}
.missionbox img {
    width: 40%;
}
.missionbox h2 {
    font-size: 24px;
    margin: 20px 0;
}
.missionbox p {
    font-size: 18px;
    text-align: justify;
    color: #333333;
}
.box1 {
    background: #FFEEEE;
}
.box2 {
    background: #eeffee;
}
.box3 {
    background: #eefaff;
}
/* End Mission Section */
/* Start Develop Section */
.develop {
    display: flex;
    margin-top: 25px;
    background: url("./images/shapes/shape-7.png") no-repeat;
    background-position: left;
    background-size: 200px;
    margin-bottom: 90px;
    width: 95%;
    margin: auto;
}
.deve_img {
    width: 40%;
}
.develop_head {
    width: 60%;
    margin-top: 4%;
}
.deve_img img {
    width: 70%;
    margin-left: 20%;
    overflow: hidden;
}
.develop_head h1{
    font-size: 40px;
    line-height: 50px;
    color: #333333;
    margin: 20px 0; 
}
.develop_head p {
    font-size: 19px;
    color: #333333;
    width: 90%;
    margin-bottom: 25px;
}
/* End Develop Section */
/* Start Global Section */
.global {
    display: flex;
    padding-top: 25px;
    background: url("./images/shapes/shape-1.png") no-repeat;
    background-position: right;
    background-size: 200px;
    padding-bottom: 80px;
    width: 95%;
    margin: auto;
}
.global_head {
    width: 60%;
    margin-top: 7%;
    margin-left: 10%;
}
.global_head h1{
    font-size: 40px;
    line-height: 50px;
    color: #333333;
    margin: 20px 0; 
}
.global_head p {
    font-size: 19px;
    color: #333333;
    width: 90%;
    margin-bottom: 25px;
}
.global_img {
    width: 40%;
}
.global_img img {
    width: 80%;
    margin-right: 20%;
    margin-top: 10%;
    overflow: hidden;
    border-radius: 15px;
    height: 100%;
}
/* End Global Section */
/* Start Contact Section */
.contact {
    margin-bottom: 110px;
}
.contact h1{
    font-size: 50px;
    text-align: center;
    margin: 40px 0;
}
.contact_form {
    display: flex;
}
.contact_img {
    width: 40%; 
}
.contact_img img {
    width: 90%;
    margin-left: 20%;
    overflow: hidden;
}
.messages {
    width: 60%;
    margin-top: 3%;
    margin-left: 20%;
}
.messages input, .textarea {
    width: 70%;
    height: 12%;
    margin-bottom: 30px;
    border: 1px solid #8FBC8F;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 19px;
    color: #333333;
}
.textarea {
    height: 100px;
    padding: 10px 10px;
}
.messages a {
    padding: 10px 30px;
    text-decoration: none;
    color: #FFEEEE;
    font-weight: 700;
    border-radius: 20px;
    font-size: 19px;
    background-image: linear-gradient(to right, #8FBC8F, #bcf056 );
}
/* End Contact Section */
/* Start Footer Section */
footer {
    text-align: center;
    padding: 40px 0;
    background: #0B0D17;
    color: white;
    margin-top: 65px;
}
footer h1 {
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-weight: 400;
}
footer p {
    color: #c3dee9;
    font-size: 12px;
    margin-top: 10px;
}
/* End Footer Section */